/* * {
    border: 1px solid red;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 16px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900px;
}

h1,
p {
    margin: 0px;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 20px;
    font-weight: 800;
    width: 150px;
    padding: 12px 14px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
}

img {
    height: 200px;
    border-radius: 16px;
    box-shadow:rgb(56, 130, 246) 0px 0px 0px 4px;
    margin-bottom: 16px;
}

.hero-img {
    border: none;
    box-shadow: none;
    border-radius: 0px;
    width: 800px;
    height: 300px;
}

.header, 
.content, 
.footer {
    background-color: #1F2937;

}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.logo {
    color: #f9faf8;
    font-size: 36px;
    font-weight: 800;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 128px;
}

.left-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 450px;
    gap: 12px;
}

.secondary-text, 
.links {
color: #e5e7eb;
font-size: 18px;
}

.information {
    color: #1F2937;
    background-color: #f9faf8;
    text-align: center;
    padding: 128px;
}

.info-title {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 36px;
}
.info-container {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.info-text {
    display: flex;
    flex-wrap: wrap;
    max-width: 190px;
}

.quotes {
    display: flex;
    align-items: end;
    flex-direction: column;
    padding: 128px;
    color: #1F2937;
    background-color:#e5e7eb;
}
.quote-text {
    font-size: 36px;
    font-style: italic;
}

.quoter {
    font-size: 36px;
    font-weight: 700;
    padding: 24px;
}

.action {
    padding: 128px;
    background-color: #f9faf8;
}

.a-container{
    display: flex;
    flex:1;
    justify-content: space-around;
    align-items: center;
    padding:  64px;
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 8px;
}

.a-maintext {
    font-size: 36px;
    font-weight: 700;
}

.a-subtext {
    font-size: 18px;
}

.a-button  {
    box-shadow: #f9faf8 0px 1px 4px, #f9faf8 0px 0px 0px 3px;
    border-radius: 8px;
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #f9faf8;
    padding: 24px;
}

